[user]
  name = Matt Robinson
  email = matt@mattrobinson.net
[includeIf "gitdir:~/ghwork/"]
  path = .gitconfig-github
[includeIf "gitdir:/workspaces/"]
  path = .gitconfig-github # at least for now not doing personal projects in codespaces...
[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  pager = less -FXRS -x2
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[alias]
  br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  amend = "commit --amend"
  main = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  remotesh = remote set-head origin --auto
  rom = !"git fetch; git rebase origin/$(git main)"
  tagdate = "tag -l --sort=-creatordate --format='%(creatordate:short):  %(refname:short)'"
  ff = pull --ff-only --ff
  st = status
  ci = commit
  co = checkout
  llog = log --date=local
  lg = "log --date=format:'%Y%m%d %H:%M' --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%cd %cr%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph --date-order"
  review = "log --stat=160,180 -p -w --patience --reverse -M -C -C -c"
  fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  ri = rebase --interactive --autosquash
  unstage = reset HEAD
  poh = push origin HEAD
  copr = "!f() { git fetch -fu origin refs/pull/$1/head:pr-$1; git checkout pr-$1; } ; f"
  recent = "!git for-each-ref --sort=committerdate refs/heads/ refs/remotes --format='%(committerdate:short) %(refname:short) %(authorname) %(contents:subject)'"
[diff]
  renames = copy # makes the diff much shorter when moving or copying files
  noprefix = true
  compaction-heuristic = true
[status]
  submodulesummary = true
[rerere]
  enabled = false
[merge]
  log = true
  conflictstyle = diff3
[apply]
  whitespace = nowarn
[credential]
  helper = osxkeychain
[branch]
  autosetupmerge = true
[rebase]
  autosquash = true
[push]
  default = simple
[init]
  defaultBranch = main
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[commit]
  #gpgSign = true
