.*.sw[op]
.vim

# bootstrap Plug
# otherwise run: curl -fLo ~/.vim/autoload/plug.vim --create-dirs  https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
!vim/autoload/plug.vim
!vim/backup
!vim/swp

puppet/manifests/secrets.pp
.secrets
.secret
tags
TODO
.netrwhist
tmp
#cache # super annoying that github checks vendor/cache into git :-/
.byebug_history
queries.sql
apps/db/priv/repo/structure.sql
.env.test
Brewfile.lock.json
